.page-header {
  color: #c94646;
  margin: 10px auto;
  border: 1px solid #f60;
  border-radius: 10px;
}

.content.recipe {
  margin: 12px;
  float: left;
  width: 900px;
  padding-bottom: 20px;
  background: #ffc;
  border: 1px solid #f60;
}

.content.recipe h2 {
  margin-top: 0;
  padding: 0.3em;
  color: #fff;
  background: #f60;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

.content.comments {
  margin: 12px;
  float: left;
  width: 900px;
  padding-bottom: 20px;
  background: #9c9;
  border: 1px solid #96cc29;
}

.content.comments h2 {
  margin-top: 0;
  width: 900px;
  padding: 0.3em;
  color: #fff;
  background: #96cc29;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

.side-menu {
  float: right;
  width: 450px;
  height: 500px;
  font-size: 20px;
  background: #ff9;
  border: 1px solid #f60;
  border-radius: 10px;
}

.side-menu a,
.side-menu a:link {
  color: #6b4700;
}

.footer {
  width: 100%;
  padding: 5px 0;
  height: 20px;
  position: fixed;
  bottom: 0;
  background: #6b4700;
}

.copyright {
  margin-top: 0;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}

.ingredients {
  font-size: 15px;
}

/* ページトップへ戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 35px;
  right: 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background: #ffa500;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.back-to-top a {
  color: #fff;
}

.back-to-top a:hover {
  background: #ffb833;
}

.visible {
  visibility: visible;
  opacity: 1;
}
